.hiddenElements {
    display: none;
}

.noPadding {
    padding: 0;
}

.my-alerts {
    position: fixed;
    top: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
    right: 20px;
    padding-left: 3em;
    padding-right: 3em;
}

.box_lastPosts {
    margin: 0 auto;
    width: 80%;
}

.box_lastPosts-body {
    padding: 0;
    margin-bottom: -17px; /*removing the extra spacing at the bottom of the bootstrap card*/
}

.min-height {
    min-height: 200px;
}

.row_selected {
    background-color: #cecece;
}

td:first-of-type {
    font-weight: bold;
}
th:last-of-type,
td:last-of-type {
    text-align: right;
}

td {
    line-height: 2;
}

.article_content {
    padding: 1em;
}

/* MODAL / FORM*/
#modalForPosts h3,
#modalForEdits h3 {
    font-weight: 400;
}

.modal-body:last-of-type {
    min-height: 200px;
}

.header_buttons {
    padding: 8px;
    color: gray;
    margin-bottom: 2px;
}
.header_buttons:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
}
.header_buttons + .header_buttons {
    margin-left: 0.5em;
}
.header_buttons:hover {
    color: initial;
}

#articleTitle {
    margin-bottom: 0;
}

#articleText {
    font-size: 1.2rem;
}

.myModal-content {
    padding-left: 1em;
    padding-right: 1em;
}

#inputPost_title,
#inputEditedPost_title {
    padding: 0.4em;
    width: 80%;
    border-style: solid;
}

#inputPost_title:focus,
#inputPost_text:focus,
#inputEditedPost_title:focus,
#inputEditedPost_text:focus {
    outline: 1px solid #888;
}

#inputPost_text,
#inputEditedPost_text {
    padding: 0.4em;
    width: 100%;
    height: 150px;
    border-style: solid;
}

#modalForPosts button {
    font-weight: 600;
}
