.hiddenElements {
    display: none;
}

.noPadding {
    padding: 0;
}

.my-alerts {
    display: block;
    position: fixed;
    top: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
    right: 20px;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
}

.box_lastPosts {
    margin: 0 auto;
    width: 80%;
}

.box_lastPosts-body {
    padding: 0;
    margin-bottom: -17px; /*removing the extra spacing at the bottom of the bootstrap card*/
}

.min-height {
    min-height: 200px;
}

.row_selected {
    background-color: #cecece;
}

td:first-of-type {
    font-weight: bold;
}

td:last-of-type {
    text-align: right;
}

td {
    line-height: 2;
}

.article_content {
    padding: 1em;
}

/* MODAL / FORM*/
#inputPost_text {
    text-indent: 1em;
}
